:host {
  --ion-background-color: #DDDDDD;

  ion-tab-button {
    --background: #9e99d8;
    --color: #FFF;
    --color-selected: #FFF;

    &.tab-selected {
      --background: #5E5B88;
    }

    &:nth-child(3) {
      --background: #FF878E;

      &.tab-selected {
        --background: #E55561;
      }
    }
  }
}
