<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="meu-perfil" [layout]="">
      <ion-icon name="meu-perfil" src="assets/svg/dashboard.svg"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avaliacoes">
      <ion-icon name="avaliacoes" src="assets/svg/avaliacoes.svg"></ion-icon>
      <ion-label>Avaliações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avaliar">
      <ion-icon name="avaliar" src="assets/svg/avaliar.svg"></ion-icon>
      <ion-label>Avaliar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="depoimentos">
      <ion-icon name="depoimentos" src="assets/svg/depoimentos.svg"></ion-icon>
      <ion-label>Depoimentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perguntas">
      <ion-icon name="perguntas" src="assets/svg/perguntas.svg"></ion-icon>
      <ion-label>Perguntas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
