<ion-header>
    <ion-toolbar text-center>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="fechar()">
                <ion-icon slot="icon-only" color="tertiary" name="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Perfil de {{ amigo.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="buscarDados($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="grafico" [hidden]="!multi.length">
        <ngx-charts-pie-chart
                [animations]="true"
                [labels]="true"
                [view]="view"
                [results]="multi"
                [gradient]="gradient"
                [legend]="showLegend">
        </ngx-charts-pie-chart>
    </div>

    <ng-container [apresentarAsync]="requisicoes$">
        <div *casoCarregando>
            <div class="graph">
                <img src="assets/graph-placeholder.svg"/>
            </div>

            <div class="skel-line"></div>
            <div class="skel-line"></div>
            <div class="skel-line"></div>
            <div class="skel-line"></div>
        </div>
        <div *casoResultado="let dados">
            <div *ngIf="!dados[2].length" class="logo go-up">
                <img src="assets/logo-only.svg"/>
            </div>

            <div class="depoimento-container go-up">
                <div class="depoimento-titulo">
                    Depoimentos
                </div>

                <div class="depoimento-registros" *ngIf="dados[0].length">
                    <div class="registro" *ngFor="let depoimento of dados[0]">
                        <div class="dados">
                            <div class="titulo">{{ depoimento.titulo }}</div>
                            <div class="descricao">
                                {{ depoimento.descricao }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="depoimento-registros" *ngIf="!dados[0].length">
                    <div class="registro">
                        <div class="descricao">
                            {{ amigo.name }} ainda não possui depoimentos =(
                        </div>
                    </div>
                </div>
            </div>

            <div class="pergunta-container go-up delay-1">
                <div class="pergunta-titulo">
                    Perguntas
                </div>

                <div class="pergunta-registros" *ngIf="dados[1].length">
                    <div class="registro" *ngFor="let pergunta of dados[1]">
                        <div class="dados">
                            <div class="titulo">{{ pergunta.titulo }}</div>
                            <div class="descricao">
                                {{ pergunta.descricao }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pergunta-registros" *ngIf="!dados[1].length">
                    <div class="registro">
                        <div class="descricao">
                            {{ amigo.name }} ainda não possui perguntas =(
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ion-content>
