:host {
  ion-toolbar {
    --background: #5E5B88;
    --color: #FFF;
  }
}

.depoimento-container {
  margin: 0 auto 15px auto;

  .depoimento-registros {
    .registro {
      background-color: #FFF;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #D8D8D8;

      &:last-child {
        border-bottom: none;
      }

      .descricao {
        color: #929DAB;
        font-size: 14px;
      }

      .acoes {
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;
        margin-top: 10px;

        .acao {
          display: flex;
          align-items: center;

          img {
            margin-right: 15px;
          }

          div {
            color: #46466B;
          }
        }
      }

      .horario {
        color: #E55561;
        font-size: 15px;
      }
    }
  }
}
