.estado-vazio {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
  border-radius: 10px;
  font-family: Helvetica;
  font-size: 22px;
  color: #B8BDCC;
  text-align: center;
  line-height: 32.5px;
  padding: 20px;
  //margin: 10px;
  animation: fadeIn 1.5s linear;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);

  .icone {
    margin-bottom: 15px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: grayscale(100%);
  }
  100% {
    opacity: 1;
    filter: grayscale(0%);
  }
}
